/* ==========================================================================
   Video classes
   ========================================================================== */
video {
    width: 100%;
}
/* video container */
.videoContainer {
    width: 610px; height: 350px;
    position: relative;
    overflow: hidden;
}
/* video caption css */
.videoContainer .caption {
    display: none;
    position: absolute; top: 0; left: 0;
    width: 100%; padding: 10px;
    font-size: 16px;
    color: white; background-color: rgba(0, 0, 0, 0.8);
}
/* control holder */
.control {
    display: none; 
    width: 100%;
    color: white; background-color: #2c2b31;
    position:absolute; bottom: 0; left: 0;
    /*z-index: 5;*/
}
/* control top part */
.topControl {
    height: 10px;
    border-bottom: 1px solid #404040;
    padding: 1px 5px;
    background-color: #4d4d4f;
}
/* control bottom part */
/*.btmControl {
    clear: both;
    background-color: red;
}*/
.control div.btn {
    float: left;
    width: 34px; height: 30px;
    padding: 0 5px;
    border-right: 1px solid #404040;
    cursor: pointer;
    opacity: 0.8;
}
.control div.btn:hover {
    opacity: 1.0;
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    transition: all 200ms linear;
}
.control div.btnPlay {
    background-image: url(../img/video/play.png);
    background-repeat: no-repeat;
    background-position: center;
    border-left: 1px solid #404040;
}
.control div.paused {
    background-image: url(../img/video/pause.png);
    background-repeat: no-repeat;
    background-position: center;
}
.control div.btnStop {
    background-image: url(../img/video/stop.png);
    background-repeat: no-repeat;
    background-position: center;
}
.control div.sound {
    background-image: url(../img/video/audio.png);
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    float: right;
}
.control div.sound2 {
    background-image: url(../img/video/audio.png);
    background-repeat: no-repeat;
    background-position: center;
}
.control div.muted {
    background-image: url(../img/video/mute.png) !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
}
.control div.btnFS {
    background-image: url(../img/video/fullscreen.png);
    background-repeat: no-repeat;
    background-position: center;
    float: right;
}
.control div.btnLight {
    background-image: url(../img/video/lightoff.png);
    background-repeat: no-repeat;
    background-position: center;
    border-left: 1px solid #404040;
    float: right;
}
.control div.lighton {
    background-image: url(../img/video/lighton.png) !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
}

/* PROGRESS BAR */
/* Progress bar */
.progress {
    width: 85%; height: 10px;
    position: relative; float: left;
    cursor: pointer;
    box-shadow: 0 2px 3px #333 inset;
    -moz-box-shadow: 0 2px 3px #333 inset;
    -webkit-box-shadow: 0 2px 3px #333 inset;
}
.progress span {
    height: 100%;
    position: absolute; top: 0; left: 0;
    display: block;
}
.timeBar {
    z-index: 10;
    width: 0;
    background-color: #f1c40f;
}
.bufferBar {
    /*z-index: 5;*/
    width: 0;
    background-color: #ededed;
    box-shadow: 2px 0 5px #333;
    -moz-box-shadow: 2px 0 5px #333;
    -webkit-box-shadow: 2px 0 5px #333;
}
/* time and duration */
.time {
    width: 15%;
    float: right;
    text-align: center; line-height: 12px;
    font-size: 10px;
}

/* VOLUME BAR */
/* volume bar */
.volume {
    position: relative; float: right;
    width: 70px; height: 10px;
    margin-top: 10px; margin-right: 10px;
    cursor: pointer;
}
.volumeBar {
    display: block;
    height: 100%;
    position: absolute; top: 0; left: 0;
    background-color: #ededed;
    opacity: 0.6;
    /*z-index: 10;*/
}
.volumeBar:hover {
    opacity: 1.0;
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    transition: all 200ms linear;
}

/* OTHERS */
/* video screen cover */
.loading, #init {
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-image: url(../img/video/loader.png);
    background-repeat: no-repeat;
    background-position: 50%;
    /*z-index: 2;*/
    display: none;
}
#init {
    background-image: url(../img/video/big-play.png) !important;
    background-repeat: no-repeat !important;
    background-position: 50% !important;
    cursor: pointer;
    opacity: 0.9;
}
#init:hover {
    opacity: 1.0;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}