@font-face {
	font-family: "Modernui";
	src: url("modernui.eot");
	src: url("modernui.eot#iefix") format("embedded-opentype"),
	url("modernui.woff") format("woff"),
	url("modernui.ttf") format("truetype"),
	url("modernui.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
*[class^="modernui-"] {   
	font-family: Modernui;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}.modernui-add40:before {
	content: "\e000";
}
.modernui-adobe15:before {
	content: "\e001";
}
.modernui-adobe16:before {
	content: "\e002";
}
.modernui-adobe17:before {
	content: "\e003";
}
.modernui-adobe18:before {
	content: "\e004";
}
.modernui-adobe19:before {
	content: "\e005";
}
.modernui-aerial1:before {
	content: "\e006";
}
.modernui-alert:before {
	content: "\e007";
}
.modernui-alert1:before {
	content: "\e008";
}
.modernui-align11:before {
	content: "\e009";
}
.modernui-align12:before {
	content: "\e00a";
}
.modernui-and:before {
	content: "\e00b";
}
.modernui-appbar7:before {
	content: "\e00c";
}
.modernui-arcade:before {
	content: "\e00d";
}
.modernui-arrow102:before {
	content: "\e00e";
}
.modernui-arrow104:before {
	content: "\e00f";
}
.modernui-arrow107:before {
	content: "\e010";
}
.modernui-arrow95:before {
	content: "\e011";
}
.modernui-arrows5:before {
	content: "\e012";
}
.modernui-black69:before {
	content: "\e013";
}
.modernui-book22:before {
	content: "\e014";
}
.modernui-book24:before {
	content: "\e015";
}
.modernui-building1:before {
	content: "\e016";
}
.modernui-business7:before {
	content: "\e017";
}
.modernui-business8:before {
	content: "\e018";
}
.modernui-cabinet2:before {
	content: "\e019";
}
.modernui-calendar13:before {
	content: "\e01a";
}
.modernui-calendar14:before {
	content: "\e01b";
}
.modernui-camera20:before {
	content: "\e01c";
}
.modernui-camera21:before {
	content: "\e01d";
}
.modernui-car12:before {
	content: "\e01e";
}
.modernui-card10:before {
	content: "\e01f";
}
.modernui-card11:before {
	content: "\e020";
}
.modernui-card9:before {
	content: "\e021";
}
.modernui-cd6:before {
	content: "\e022";
}
.modernui-celcius:before {
	content: "\e023";
}
.modernui-cell3:before {
	content: "\e024";
}
.modernui-cell4:before {
	content: "\e025";
}
.modernui-cell5:before {
	content: "\e026";
}
.modernui-celsius:before {
	content: "\e027";
}
.modernui-chat4:before {
	content: "\e028";
}
.modernui-check8:before {
	content: "\e029";
}
.modernui-checked4:before {
	content: "\e02a";
}
.modernui-checked5:before {
	content: "\e02b";
}
.modernui-checked6:before {
	content: "\e02c";
}
.modernui-checkmark3:before {
	content: "\e02d";
}
.modernui-chess3:before {
	content: "\e02e";
}
.modernui-chevron10:before {
	content: "\e02f";
}
.modernui-chevron11:before {
	content: "\e030";
}
.modernui-chromakey:before {
	content: "\e031";
}
.modernui-church5:before {
	content: "\e032";
}
.modernui-circular12:before {
	content: "\e033";
}
.modernui-city6:before {
	content: "\e034";
}
.modernui-clear1:before {
	content: "\e035";
}
.modernui-clear2:before {
	content: "\e036";
}
.modernui-clipboard7:before {
	content: "\e037";
}
.modernui-clipboard8:before {
	content: "\e038";
}
.modernui-closed6:before {
	content: "\e039";
}
.modernui-cloud27:before {
	content: "\e03a";
}
.modernui-coffee4:before {
	content: "\e03b";
}
.modernui-cogs1:before {
	content: "\e03c";
}
.modernui-coil:before {
	content: "\e03d";
}
.modernui-column:before {
	content: "\e03e";
}
.modernui-connected:before {
	content: "\e03f";
}
.modernui-connection2:before {
	content: "\e040";
}
.modernui-contrast3:before {
	content: "\e041";
}
.modernui-control:before {
	content: "\e042";
}
.modernui-copy2:before {
	content: "\e043";
}
.modernui-corner:before {
	content: "\e044";
}
.modernui-create:before {
	content: "\e045";
}
.modernui-curled:before {
	content: "\e046";
}
.modernui-currency2:before {
	content: "\e047";
}
.modernui-currency3:before {
	content: "\e048";
}
.modernui-cursor10:before {
	content: "\e049";
}
.modernui-dark22:before {
	content: "\e04a";
}
.modernui-database12:before {
	content: "\e04b";
}
.modernui-default:before {
	content: "\e04c";
}
.modernui-default1:before {
	content: "\e04d";
}
.modernui-default2:before {
	content: "\e04e";
}
.modernui-delete21:before {
	content: "\e04f";
}
.modernui-descreasing:before {
	content: "\e050";
}
.modernui-dial:before {
	content: "\e051";
}
.modernui-dimension1:before {
	content: "\e052";
}
.modernui-dimension2:before {
	content: "\e053";
}
.modernui-disconnecting:before {
	content: "\e054";
}
.modernui-dollar6:before {
	content: "\e055";
}
.modernui-door4:before {
	content: "\e056";
}
.modernui-dragon:before {
	content: "\e057";
}
.modernui-draw10:before {
	content: "\e058";
}
.modernui-draw11:before {
	content: "\e059";
}
.modernui-draw12:before {
	content: "\e05a";
}
.modernui-draw8:before {
	content: "\e05b";
}
.modernui-draw9:before {
	content: "\e05c";
}
.modernui-dropper1:before {
	content: "\e05d";
}
.modernui-educative:before {
	content: "\e05e";
}
.modernui-elevator2:before {
	content: "\e05f";
}
.modernui-email3:before {
	content: "\e060";
}
.modernui-email4:before {
	content: "\e061";
}
.modernui-expand13:before {
	content: "\e062";
}
.modernui-expand14:before {
	content: "\e063";
}
.modernui-eye6:before {
	content: "\e064";
}
.modernui-farenheit1:before {
	content: "\e065";
}
.modernui-fastforward:before {
	content: "\e066";
}
.modernui-files1:before {
	content: "\e067";
}
.modernui-filter1:before {
	content: "\e068";
}
.modernui-folder25:before {
	content: "\e069";
}
.modernui-folder27:before {
	content: "\e06a";
}
.modernui-folder28:before {
	content: "\e06b";
}
.modernui-foot:before {
	content: "\e06c";
}
.modernui-forklift1:before {
	content: "\e06d";
}
.modernui-form1:before {
	content: "\e06e";
}
.modernui-four8:before {
	content: "\e06f";
}
.modernui-fullscreen1:before {
	content: "\e070";
}
.modernui-futurama1:before {
	content: "\e071";
}
.modernui-gas2:before {
	content: "\e072";
}
.modernui-gauge2:before {
	content: "\e073";
}
.modernui-gauge3:before {
	content: "\e074";
}
.modernui-gift2:before {
	content: "\e075";
}
.modernui-googleplus:before {
	content: "\e076";
}
.modernui-grade10:before {
	content: "\e077";
}
.modernui-grade11:before {
	content: "\e078";
}
.modernui-grade12:before {
	content: "\e079";
}
.modernui-graph9:before {
	content: "\e07a";
}
.modernui-greek3:before {
	content: "\e07b";
}
.modernui-grid4:before {
	content: "\e07c";
}
.modernui-grid5:before {
	content: "\e07d";
}
.modernui-guinness:before {
	content: "\e07e";
}
.modernui-handicap:before {
	content: "\e07f";
}
.modernui-handicap1:before {
	content: "\e080";
}
.modernui-happy2:before {
	content: "\e081";
}
.modernui-headphones4:before {
	content: "\e082";
}
.modernui-heart20:before {
	content: "\e083";
}
.modernui-hidden:before {
	content: "\e084";
}
.modernui-hidden1:before {
	content: "\e085";
}
.modernui-high6:before {
	content: "\e086";
}
.modernui-home12:before {
	content: "\e087";
}
.modernui-home13:before {
	content: "\e088";
}
.modernui-home14:before {
	content: "\e089";
}
.modernui-home16:before {
	content: "\e08a";
}
.modernui-home17:before {
	content: "\e08b";
}
.modernui-horizontal6:before {
	content: "\e08c";
}
.modernui-horizontally:before {
	content: "\e08d";
}
.modernui-hourglass4:before {
	content: "\e08e";
}
.modernui-human2:before {
	content: "\e08f";
}
.modernui-inbox6:before {
	content: "\e090";
}
.modernui-inenote:before {
	content: "\e091";
}
.modernui-input5:before {
	content: "\e092";
}
.modernui-input6:before {
	content: "\e093";
}
.modernui-input7:before {
	content: "\e094";
}
.modernui-insert1:before {
	content: "\e095";
}
.modernui-interface21:before {
	content: "\e096";
}
.modernui-interface22:before {
	content: "\e097";
}
.modernui-interstate2:before {
	content: "\e098";
}
.modernui-invincible:before {
	content: "\e099";
}
.modernui-iphone4:before {
	content: "\e09a";
}
.modernui-justify4:before {
	content: "\e09b";
}
.modernui-kelvin:before {
	content: "\e09c";
}
.modernui-key13:before {
	content: "\e09d";
}
.modernui-kilometer:before {
	content: "\e09e";
}
.modernui-lavalamp:before {
	content: "\e09f";
}
.modernui-layer6:before {
	content: "\e0a0";
}
.modernui-layer7:before {
	content: "\e0a1";
}
.modernui-layer8:before {
	content: "\e0a2";
}
.modernui-layout16:before {
	content: "\e0a3";
}
.modernui-layout17:before {
	content: "\e0a4";
}
.modernui-left25:before {
	content: "\e0a5";
}
.modernui-left26:before {
	content: "\e0a6";
}
.modernui-libra:before {
	content: "\e0a7";
}
.modernui-lifesaver:before {
	content: "\e0a8";
}
.modernui-light3:before {
	content: "\e0a9";
}
.modernui-lightbulb2:before {
	content: "\e0aa";
}
.modernui-link7:before {
	content: "\e0ab";
}
.modernui-linkedin6:before {
	content: "\e0ac";
}
.modernui-list15:before {
	content: "\e0ad";
}
.modernui-list16:before {
	content: "\e0ae";
}
.modernui-list17:before {
	content: "\e0af";
}
.modernui-location19:before {
	content: "\e0b0";
}
.modernui-location20:before {
	content: "\e0b1";
}
.modernui-logic2:before {
	content: "\e0b2";
}
.modernui-magnification1:before {
	content: "\e0b3";
}
.modernui-magnify1:before {
	content: "\e0b4";
}
.modernui-man20:before {
	content: "\e0b5";
}
.modernui-marketplace:before {
	content: "\e0b6";
}
.modernui-martini:before {
	content: "\e0b7";
}
.modernui-marvel4:before {
	content: "\e0b8";
}
.modernui-mechanic:before {
	content: "\e0b9";
}
.modernui-medical4:before {
	content: "\e0ba";
}
.modernui-medical5:before {
	content: "\e0bb";
}
.modernui-message2:before {
	content: "\e0bc";
}
.modernui-meter2:before {
	content: "\e0bd";
}
.modernui-micro:before {
	content: "\e0be";
}
.modernui-minimal1:before {
	content: "\e0bf";
}
.modernui-monitor5:before {
	content: "\e0c0";
}
.modernui-movie2:before {
	content: "\e0c1";
}
.modernui-multiple1:before {
	content: "\e0c2";
}
.modernui-navigate1:before {
	content: "\e0c3";
}
.modernui-network7:before {
	content: "\e0c4";
}
.modernui-network8:before {
	content: "\e0c5";
}
.modernui-newspaper4:before {
	content: "\e0c6";
}
.modernui-no6:before {
	content: "\e0c7";
}
.modernui-notification2:before {
	content: "\e0c8";
}
.modernui-numeric1:before {
	content: "\e0c9";
}
.modernui-office10:before {
	content: "\e0ca";
}
.modernui-office11:before {
	content: "\e0cb";
}
.modernui-office12:before {
	content: "\e0cc";
}
.modernui-office13:before {
	content: "\e0cd";
}
.modernui-office14:before {
	content: "\e0ce";
}
.modernui-office15:before {
	content: "\e0cf";
}
.modernui-open25:before {
	content: "\e0d0";
}
.modernui-open26:before {
	content: "\e0d1";
}
.modernui-outlook1:before {
	content: "\e0d2";
}
.modernui-outside:before {
	content: "\e0d3";
}
.modernui-page26:before {
	content: "\e0d4";
}
.modernui-page27:before {
	content: "\e0d5";
}
.modernui-page28:before {
	content: "\e0d6";
}
.modernui-page29:before {
	content: "\e0d7";
}
.modernui-page30:before {
	content: "\e0d8";
}
.modernui-page31:before {
	content: "\e0d9";
}
.modernui-page32:before {
	content: "\e0da";
}
.modernui-page33:before {
	content: "\e0db";
}
.modernui-palm:before {
	content: "\e0dc";
}
.modernui-pause6:before {
	content: "\e0dd";
}
.modernui-pdf3:before {
	content: "\e0de";
}
.modernui-pdf4:before {
	content: "\e0df";
}
.modernui-people10:before {
	content: "\e0e0";
}
.modernui-people11:before {
	content: "\e0e1";
}
.modernui-people12:before {
	content: "\e0e2";
}
.modernui-people13:before {
	content: "\e0e3";
}
.modernui-people14:before {
	content: "\e0e4";
}
.modernui-people15:before {
	content: "\e0e5";
}
.modernui-phone20:before {
	content: "\e0e6";
}
.modernui-pine:before {
	content: "\e0e7";
}
.modernui-play10:before {
	content: "\e0e8";
}
.modernui-plugs:before {
	content: "\e0e9";
}
.modernui-print3:before {
	content: "\e0ea";
}
.modernui-product:before {
	content: "\e0eb";
}
.modernui-protractor1:before {
	content: "\e0ec";
}
.modernui-puzzle1:before {
	content: "\e0ed";
}
.modernui-python2:before {
	content: "\e0ee";
}
.modernui-qr:before {
	content: "\e0ef";
}
.modernui-quality:before {
	content: "\e0f0";
}
.modernui-quill2:before {
	content: "\e0f1";
}
.modernui-radar3:before {
	content: "\e0f2";
}
.modernui-radioactive1:before {
	content: "\e0f3";
}
.modernui-rain3:before {
	content: "\e0f4";
}
.modernui-red:before {
	content: "\e0f5";
}
.modernui-redo2:before {
	content: "\e0f6";
}
.modernui-refresh12:before {
	content: "\e0f7";
}
.modernui-refresh13:before {
	content: "\e0f8";
}
.modernui-refresh14:before {
	content: "\e0f9";
}
.modernui-remote:before {
	content: "\e0fa";
}
.modernui-remove12:before {
	content: "\e0fb";
}
.modernui-removed:before {
	content: "\e0fc";
}
.modernui-reply6:before {
	content: "\e0fd";
}
.modernui-reset:before {
	content: "\e0fe";
}
.modernui-ribbon2:before {
	content: "\e0ff";
}
.modernui-ring:before {
	content: "\e100";
}
.modernui-rotated1:before {
	content: "\e101";
}
.modernui-rotated2:before {
	content: "\e102";
}
.modernui-rounded14:before {
	content: "\e103";
}
.modernui-rss10:before {
	content: "\e104";
}
.modernui-san:before {
	content: "\e105";
}
.modernui-satellite:before {
	content: "\e106";
}
.modernui-scrabble11:before {
	content: "\e107";
}
.modernui-scrabble12:before {
	content: "\e108";
}
.modernui-scrabble13:before {
	content: "\e109";
}
.modernui-scrabble14:before {
	content: "\e10a";
}
.modernui-scrabble15:before {
	content: "\e10b";
}
.modernui-scrabble16:before {
	content: "\e10c";
}
.modernui-scrabble17:before {
	content: "\e10d";
}
.modernui-scrabble18:before {
	content: "\e10e";
}
.modernui-scrabble19:before {
	content: "\e10f";
}
.modernui-sd2:before {
	content: "\e110";
}
.modernui-selected1:before {
	content: "\e111";
}
.modernui-send7:before {
	content: "\e112";
}
.modernui-sensor:before {
	content: "\e113";
}
.modernui-share7:before {
	content: "\e114";
}
.modernui-share8:before {
	content: "\e115";
}
.modernui-shirt1:before {
	content: "\e116";
}
.modernui-shuffle2:before {
	content: "\e117";
}
.modernui-sidebar:before {
	content: "\e118";
}
.modernui-skydrive1:before {
	content: "\e119";
}
.modernui-skydrive2:before {
	content: "\e11a";
}
.modernui-sleeping2:before {
	content: "\e11b";
}
.modernui-slice1:before {
	content: "\e11c";
}
.modernui-smiley7:before {
	content: "\e11d";
}
.modernui-social72:before {
	content: "\e11e";
}
.modernui-social73:before {
	content: "\e11f";
}
.modernui-social74:before {
	content: "\e120";
}
.modernui-social75:before {
	content: "\e121";
}
.modernui-social79:before {
	content: "\e122";
}
.modernui-social80:before {
	content: "\e123";
}
.modernui-social81:before {
	content: "\e124";
}
.modernui-social82:before {
	content: "\e125";
}
.modernui-social83:before {
	content: "\e126";
}
.modernui-social84:before {
	content: "\e127";
}
.modernui-social85:before {
	content: "\e128";
}
.modernui-social86:before {
	content: "\e129";
}
.modernui-social87:before {
	content: "\e12a";
}
.modernui-social88:before {
	content: "\e12b";
}
.modernui-social89:before {
	content: "\e12c";
}
.modernui-social90:before {
	content: "\e12d";
}
.modernui-social91:before {
	content: "\e12e";
}
.modernui-social93:before {
	content: "\e12f";
}
.modernui-social94:before {
	content: "\e130";
}
.modernui-social95:before {
	content: "\e131";
}
.modernui-social96:before {
	content: "\e132";
}
.modernui-solid11:before {
	content: "\e133";
}
.modernui-solid13:before {
	content: "\e134";
}
.modernui-solid14:before {
	content: "\e135";
}
.modernui-solid7:before {
	content: "\e136";
}
.modernui-solid8:before {
	content: "\e137";
}
.modernui-sort3:before {
	content: "\e138";
}
.modernui-sort4:before {
	content: "\e139";
}
.modernui-sort5:before {
	content: "\e13a";
}
.modernui-sound4:before {
	content: "\e13b";
}
.modernui-sound5:before {
	content: "\e13c";
}
.modernui-source1:before {
	content: "\e13d";
}
.modernui-sport5:before {
	content: "\e13e";
}
.modernui-stacked1:before {
	content: "\e13f";
}
.modernui-stacked2:before {
	content: "\e140";
}
.modernui-stairs1:before {
	content: "\e141";
}
.modernui-stairs2:before {
	content: "\e142";
}
.modernui-star12:before {
	content: "\e143";
}
.modernui-star13:before {
	content: "\e144";
}
.modernui-starwars2:before {
	content: "\e145";
}
.modernui-stop9:before {
	content: "\e146";
}
.modernui-store3:before {
	content: "\e147";
}
.modernui-suitcase4:before {
	content: "\e148";
}
.modernui-sun6:before {
	content: "\e149";
}
.modernui-table3:before {
	content: "\e14a";
}
.modernui-tablet6:before {
	content: "\e14b";
}
.modernui-tag11:before {
	content: "\e14c";
}
.modernui-texas:before {
	content: "\e14d";
}
.modernui-text13:before {
	content: "\e14e";
}
.modernui-text14:before {
	content: "\e14f";
}
.modernui-thermometer6:before {
	content: "\e150";
}
.modernui-thumb1:before {
	content: "\e151";
}
.modernui-thumb2:before {
	content: "\e152";
}
.modernui-timer13:before {
	content: "\e153";
}
.modernui-tournament3:before {
	content: "\e154";
}
.modernui-train11:before {
	content: "\e155";
}
.modernui-transit4:before {
	content: "\e156";
}
.modernui-transit5:before {
	content: "\e157";
}
.modernui-transit6:before {
	content: "\e158";
}
.modernui-tree3:before {
	content: "\e159";
}
.modernui-tree4:before {
	content: "\e15a";
}
.modernui-tropical:before {
	content: "\e15b";
}
.modernui-undo1:before {
	content: "\e15c";
}
.modernui-undo2:before {
	content: "\e15d";
}
.modernui-unselect:before {
	content: "\e15e";
}
.modernui-upload9:before {
	content: "\e15f";
}
.modernui-vector10:before {
	content: "\e160";
}
.modernui-video14:before {
	content: "\e161";
}
.modernui-visualstudio1:before {
	content: "\e162";
}
.modernui-water7:before {
	content: "\e163";
}
.modernui-waxing:before {
	content: "\e164";
}
.modernui-weather9:before {
	content: "\e165";
}
.modernui-weekly2:before {
	content: "\e166";
}
.modernui-white9:before {
	content: "\e167";
}
.modernui-width:before {
	content: "\e168";
}
.modernui-wifi14:before {
	content: "\e169";
}
.modernui-windows8:before {
	content: "\e16a";
}
.modernui-windows9:before {
	content: "\e16b";
}
.modernui-word1:before {
	content: "\e16c";
}
.modernui-x86:before {
	content: "\e16d";
}
.modernui-xml:before {
	content: "\e16e";
}
.modernui-youtube6:before {
	content: "\e16f";
}
